<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<form th:method="PATCH" th:action="@{{id}(id=${user.getId()})}" th:object="${user}">
    <label th:for="name">Новое имя:</label>
    <input th:type="text" th:field="*{name}" th:id="name">
    <br/>
    <label th:for="age">Возраст:</label>
    <input th:type="text" th:field="*{age}" th:id="age">
    <br/>
    <input th:type="submit" th:value="Обновить"/>
</form>
<br/>
<form th:method="DELETE" th:action="@{{id}(id=${user.getId()})}">
    <input th:type="submit" th:value="Удалить"/>
</form>

</body>
</html>